@charset UTF-8;


.leftColumn {
	float:left;
	width:11%;
	padding:10px 1.5%; /* 上下に10px 左右に1.5%のpaddingを指定 */
}

.mainColumn {
	float:left;
	width:69%;
	padding:10px 1.5%;
}

.rightColumn {
	float:left;
	width:11%;
	padding:10px 1.5%;
}

/********************************
* 共通部分
*********************************/
#container{
	width: 1200px;
	margin-right: auto; /* 中央寄せ */
	margin-left: auto;
}

#header{
	position: relative;
	height: 70px;
	background-color: #554738;
}

.header__search input{
	position: absolute;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto 20px;
    font-size: 12px;
    height: 10px;
    padding: 8px 20px 8px 8px;
}

.header__title a{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 20%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: white;
    background-color: #554738;
    text-decoration: none;
}

.header__dropdownmenu{
	float: right;
/*	width: 150px;
	height: 40px;*/
	margin: 15px 20px;
}

.header__dropdownmenu ul{
  margin:0;
  padding:0;
}

.header__dropdownmenu ul li {
  list-style: none;
  margin:0;
  padding:0;
  font-size:14px;
  float: left;
  position: relative;
  width: 120px;/*親メニューの幅*/
  height: 40px;/*親メニューの高さ*/
  line-height: 40px;
  background:#FF818D;/*親メニューの背景色*/
  color: #4D4D4D;/*親メニューの文字色*/
  text-align:center;
  font-weight:bold;
}

.header__dropdownmenu ul li a {
  color: #4D4D4D;
  display: block;
  text-decoration: none;
}

.header__dropdownmenu ul li:hover, .header__dropdownmenu ul li a:hover {
  background:#EA2839;/*ホバー時の親メニューの背景色*/
  color:#fff;/*ホバー時の親メニューの文字色*/
}

.header__dropdownmenu ul li ul {
  position: absolute;
  top: 40px;/*親メニューの高さと同じにする*/
  width: 120px;
  z-index: 100;
}

.header__dropdownmenu ul li ul li {
  visibility: hidden;
  overflow: hidden;
  width: 100px;/*サブメニューの幅*/
  height: 0;
  background:#FFDAD7;/*サブメニューの背景色*/
  font-weight: normal;
  font-size: 12px;
  text-align: left;
  padding-left: 20px;
}

.header__dropdownmenu ul li ul li:hover, .header__dropdownmenu ul li ul li a:hover {
  background:#FFAFA9;/*ホバー時のサブメニューの背景色*/
}

.header__dropdownmenu ul li:hover ul li, .header__dropdownmenu ul li a:hover ul li{
  visibility: visible;
  overflow: visible;
  height:40px;/*サブメニューの高さ*/
  z-index: 10;
}

.leftColum__category{
	margin-bottom: 0;
	height: 40px;
}

.leftColum__category > a{
	text-decoration:none;
	line-height: 40px;
	display: block;
}

.leftColum__category > a:hover{
	background: #d3a351;
	color: white;
}

/********************************
* User
*********************************/
.user-top__left {
	float: left;
	margin: 10px 20px 10px 20px;
	width: 100px;
}

.user-top__left img{
	width: 100px;
	height: 100px;
}

.user-top__left > a{
	display: block;
	width: 70px;
	margin: 20px auto;
	/*margin-top: 30px;*/
	/*border: 1px solid black;*/
	text-align: center;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	background: #f1f0e6;
	font-size: 12px;
	text-decoration: none;
	padding: 4px;
}

.user-top__right{
	/*background: green;*/
	overflow: hidden;
	margin-top: 10px;
	margin-right: 10px;
	
}

.user-top__name{
	font-size: 24px;
	color: black;
	margin-top: 10px;
	margin-right: 10px;
}

.user-top__introduce{
	margin-right: 10px;
	font-size: 14px;
	height: 100px;
	/*background: yellow;*/
}

.user-bottom{
	clear: both;
	/*margin-top: 20px;*/
	margin: 30px 10px 10px 10px;
}

.user-bottom__post{
	font-size: 16px;
	color: black;
	padding: 5px;
	display:inline;
}

.user-bottom__postCount{
	display:inline;
}

.user-bottom__article {
	display: block;
	height: 20px;
	font-size: 16px;
	margin: 10px;
	border-bottom: 1px solid;
}

.user-bottom__article__edit{
	float: right;
	margin-right: 10px;
	font-size: 8px;
	color: blue;
}

.user-form{
	/*background: orange;*/
	margin: auto;
	padding: 20px;
	width:80%;
}

.user-form h1{
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
}

.user-form .submit input{
	font-size:14px;
	color: black;
	background: blue;
}


/********************************
* Article
*********************************/
.article-top{
	border-bottom: 2px solid black;
	padding: 10px 0;
}

.article-top > h2{
	color: black;
	font-size: 22px;
	display: inline;
}

.article-top > p{
	display: inline;
	font-size: 18px;
}

.article-sort{
	margin: 15px -10px;
}

.article-sort li{
	margin: 0;
	padding: 0;
	float: left;
	width: 100px;
	border: 1px solid #d3a351;
	list-style-type: none;
	text-align: center;
}

.article-sort li a {
	margin: 0;
	padding: 0;
	display: block;
	text-decoration: none;
	font-weight: normal;
}

.article-sort li.active a{
	background: #d3a351;
	color: white;
}

.article-contents{
	margin-top: 55px;
	padding: 0;
	clear: both;
}

.article-contents__cel{
	margin: 10px 0;
	/*background: yellow;*/
	width: 98%;
	height: 120px;
	clear: both;
	-webkit-border-radius: 15px;
	        border-radius: 15px;
	border: 6px solid #f1f0e6;
	box-shadow: 2px 3px 4px #ddd;
}

.article-contents__cel__left{
	float: left;
	margin: 10px;
	height: 100px;
	width: 70px;
}
.article-contents__cel__category{
	background: black;
	width: 70px;
	height: 55px;
	font-size: 11px;
	color: white;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	padding: 0 7px;
	background: #d3a351;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
}

.article-contents__cel__view{
	margin-top: 0;
	background: #f1f0e6;
	width: 70px;
	height: 20px;
	margin: 5px 0;
	text-align: center;
	color: #000;
	font-size: 14px;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
}

.article-contents__cel__likes{
	margin-top: 0;
	background: #f1f0e6;
	width: 70px;
	height: 20px;
	text-align: center;
	color: #000;
	font-size: 14px;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
}

.article-contents__cel__view span, .article-contents__cel__likes span{
	font-size: 8px;
}

.article-contents__cel__right{
	overflow: hidden;
	margin: 10px;
	background: #FFF;
	height: 100px;
	padding: 0 10px;
}

.article-contents__cel__right a:nth-child(1){
	display: block;
	font-size: 20px;
	width: 100%;
	height: 30px;
	/*background: blue;*/
}

.article-contents__cel__detail{
	font-size: 14px;
	width: 100%;
	height: 40px;
	/*background-color: red;*/
	margin-top: 5px;
	margin-bottom: 0;
}

.article-contents__cel__right a:nth-child(3){
	display: block;
	font-size: 14px;
	width: 100px;
	height: 20px;
	margin-top: 5px;
	float: right;
	text-align: right;
	vertical-align: middle;
	/*background: green;*/
}

.article-detail-title-left{
	height: 150px;
	width: 100px;
	text-align: 200px;
	background: orange;
	float: left;
	padding: 2px;
	margin-right: 10px;
}
.article-detail-title-left__category{
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	margin-bottom: 0;
}

.article-detail-title-left__views{
	width: 100px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	background: red;
	margin: 0;
}

.article-detail-title-left__likes{
	width: 100px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	background: blue;
	margin: 0;
}

.article-detail-title-right{
	background: yellow;
	height: 150px;
	margin-bottom: 10px;
	overflow: hidden;
}

.article-detail-title-right__title{
	margin-bottom: 0px;
	height: 70px;
	color: #000;
}
.article-detail-title-right__author{
	text-align: right;
	height: 20px;
}

.article-detail-title-right__author > p {
	display: inline;
	margin-left: 15px;
}

.article-detail-title-action {
	text-align: center;
	height: 60px;
	line-height: 60px;
}

.article-detail-title-action > a{
	display: inline;
	background: black;
	color: white;
	margin-right: 30px;
	margin-left: 30px;
	font-size: 14px;
	padding: 10px;
}

.article-detail-detail{
	clear: both;
	height: 300px;
	background: orange;
	padding: 20px;
}

.article-detail-comment{
	margin: 0;
	height: 100%;
	background: orange;
	margin-top: 10px;
	padding: 20px;
}

.article-detail-comment__top{
	color: #FFF;
	background: #000;
	font-size: 16px;
	padding: 4px;
}

.article-detail-comment__image{
	width: 40px;
	height: 40px;
	background: yellow;
	float: left;
	margin-right: 10px;
}

.article-detail-comment__cel{
	clear: both;
	margin: 5px;
}

.article-detail-comment__cel__right{
	overflow: hidden;
}

.article-detail-comment__cel__right p{
	margin-bottom: 0;
}

.article-detail-comment__cel__right a:nth-child(4){
	color: red;
	font-weight: normal;
	float: right;
	text-decoration: underline;
}

.article-detail-comment__add{
	background: black;
	padding: 5px 20px 0 20px;
	font-size: 10px;
}

.article-detail-comment__add form div{
	margin-bottom: 0;
	width: 700px;
}

.article-detail-comment__add label{
	display: none;
}