@charset UTF-8;


.leftColumn {
	float:left;
	width:11%;
	padding:10px 1.5%; /* 上下に10px 左右に1.5%のpaddingを指定 */
}

.mainColumn {
	float:left;
	width:69%;
	padding:10px 1.5%;
}

.rightColumn {
	float:left;
	width:11%;
	padding:10px 1.5%;
}

/*************************
* 共通部分
**************************/
#container{
	width: 1200px;
	margin-right: auto; /* 中央寄せ */
	margin-left: auto;
}

#header{
	position: relative;
	height: 70px;
	background-color: black;
}



.header__search input{
	position: absolute;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto 20px;
    font-size: 12px;
    height: 10px;
    padding: 8px 20px 8px 8px;
}

.header__title {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 30%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: white;
    background-color: green;
}

.header__right{
	float: right;
	margin-right: 10px;
	line-height:70px;
}

.header__right__login {
	display: inline;
	margin-right: 20px;
	font-size: 14px;
}

.header__right__login > a{
	color: white;
}

.leftColum__category{
	margin-bottom: 0;
	height: 40px;
}

.leftColum__category > a{
	text-decoration:none;
	line-height: 40px;
	display: block;
}

.leftColum__category > a:hover{
	background: blue;
	color: white;
}

/*************************
* Article
**************************/
.article-top{
	border-bottom: 2px solid black;
	padding: 10px 0;
}

.article-top > h2{
	color: black;
	font-size: 22px;
	display: inline;
}

.article-top > p{
	display: inline;
	font-size: 18px;
}

.article-sort{
	margin: 15px 0;
}

.article-sort__new, .article-sort__popular{
	float: left;
	width: 100px;
	border: 1px solid black;
	padding-left: 5px; 
}

.article-sort__new > a, .article-sort__popular > a{
	display:block;
	font-weight: normal;
}

.article-sort__new > a:hover, .article-sort__popular > a:hover{
	text-decoration: none;
}

.article-contents{
	margin-top: 55px;
	padding: 10px;
	clear: both;
	border: 1px solid black;
	background: blue;
}

.article-contents__cel{
	margin: 10px 0;
	border: 1px solid black;
	background: yellow;
	width: 100%;
	height: 120px;
	clear: both;
}

.article-contents__cel__left{
	float: left;
	/*background: #FFF;*/
	margin: 10px;
	height: 100px;
}
.article-contents__cel__category{
	background: black;
	width: 60px;
	height: 60px;
	font-size: 12px;
	color: white;
	margin: 0;
	text-align: center;
}

.article-contents__cel__view{
	margin-top: 0;
	background: red;
	width: 60px;
	height: 20px;
	margin: 0;
	text-align: center;
	color: #FFF;
}

.article-contents__cel__likes{
	margin-top: 0;
	background: green;
	width: 60px;
	height: 20px;
	text-align: center;
	color: #FFF;
}

.article-contents__cel__right{
	overflow: hidden;
	margin: 10px;
	background: #FFF;
	height: 100px;
	padding: 0 10px;
}

.article-contents__cel__right a:nth-child(1){
	display: block;
	font-size: 20px;
	width: 100%;
	height: 30px;
	
	background: blue;
}

.article-contents__cel__detail{
	font-size: 14px;
	width: 100%;
	height: 40px;
	background-color: red;
	margin-bottom: 0;
}

.article-contents__cel__right a:nth-child(3){
	display: block;
	font-size: 14px;
	width: 100px;
	height: 30px;
	float: right;
	background: green;
}